* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: green;
}

.container {
  width: 100%;
  height: 100vh;

  background-color: green;
}

.grass {
  width: 100%;
  height: 100%;

  background-image: url();
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 0;
}

.road {
  width: 550px;
  height: 804px;
  background-color: red;
  background-image: url(../img/Road.png);
  background-size: cover;
  background-position: 0 -0px;
  background-repeat: repeat-y;

  animation: animation-road 40s linear 0s infinite;

  margin: 0;

  position: relative;

  display: flex;
  justify-content: center;
}

.car {
  width: 115px;
  height: 225px;

  position: absolute;

  top: 550px;
  left: 207px;
  transition:top 0.7s ease 0s;
}

.wrapper__btns {
  width: 80%;
  height: 100px;
  position: absolute;

  display: flex;
  justify-content: space-between;

  bottom: 0;
  opacity: 0%;
}

.btn {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  border: 2px solid black;

  position: relative;

  background-color: rgba(211, 211, 211, 0.600);
}

.btn:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 14px;
  left: -7px;

  width: 0;
  height: 0;

  border: 25px solid transparent;
  border-left: 30px solid rgb(0, 0, 0);
  transform: scale(-1, 1);
}

.btn:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 29px;

  width: 0;
  height: 0;

  border: 25px solid transparent;
  border-left: 30px solid rgb(0, 0, 0);
}

.speed {
  font-size: 25px;
  padding: 10px;

  background-color: lightgray;
  border: 2px solid black;
  border-radius: 10px;

  position: absolute;
  right: 25px;
  top: 10px;

  height: 55px;
  width: 150px;

  text-align: center;
}

.speed:hover {
  background-color: rgb(190, 190, 190);
  cursor: pointer;
}

@keyframes animation-road {
  0% {
    background-position: 0 -1000px;
  }

  100% {
    background-position: 0 10000px;
  }
}

@media (max-width:550px) {
  .car {
    left: 190px;
  }

  .wrapper__btns {
    opacity: 100%;
  }
}

@media (max-width:480px) {
  .car {
    left: 170px;
  }
}

@media (max-width:410px) {
  .car {
    left: 140px;
  }
}

@media (max-width:380px) {
  .car {
    left: 135px;

    width: 90px;
    height: 180px;
  }
}
